{% extends 'referral/base.html' %}
{% load forms %}
{% block panel_body %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p class="lead text-center" ng-show="state == 'editing_demographics' || state == 'initial'">
      <b>Who</b> are you [[ route.progressive_verb.toLowerCase() ]] to [[ route.name ]] ?
    </p>
    {% block has_demographics_title %}
    <p class="lead text-center" ng-show="state == 'has_demographics'">
      We've found [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]
    </p>
    {% endblock %}
    {% block additional_models_title %}
    {% endblock %}
    <p class="lead text-center" ng-show="state == 'success'">
      {% block success_title %}
        <i class="fa fa-check"></i> [[ route.past_verb ]] [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname]] to
        <span ng-show="success_link" >
          <a href="[[ success_link ]]">[[ route.name ]]</a>.
        </span>
        <span ng-hide="success_link">[[ route.name ]].</span>
      {% endblock success_title %}
    </p>
    <div  ng-show="state == 'editing_demographics'">
      {% block editing_demographics_title %}
      {% endblock editing_demographics_title %}
    </div>
    <div  ng-show="state == 'merge_demographics'">
      <p class="lead text-center">
        [[ patient.old_hospital_number ]] has been <b>merged</b> into [[ patient.demographics[0].hospital_number ]].
      </p>
      <p class="lead text-center">
        The correct patient for this hospital number is now
        <b>[[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]] ([[ patient.demographics[0].hospital_number ]])</b>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 ng-hide="currentAdditionalData()">
          <i class="fa fa-user"></i>
          Patient Details
        </h3>
        <h3 ng-show="currentAdditionalData()">
          {% block additional_models_header %}
          {% endblock %}
        </h3>
      </div>
      <div class="panel-body">

        <!-- Initial state - enter hospital numbe -->
        <div class="row" ng-show="state == 'initial'">
          <div class="col-sm-8">
            <h4>Hospital number</h4>
            <input autofocus class="form-control" type="text"
                   ng-model="hospital_number"
                   ng-keypress="$event.keyCode == 13 && lookup_hospital_number()"
                   />
            <br />
            <button class="btn btn-lg btn-primary" ng-click="lookup_hospital_number()">
              <i class="fa fa-search"></i>
              Search
            </button>
            <br />
            <p>
              If we already have your patient on the system, we can pull their
              details for you
            </p>
          </div>
        </div>

        <!-- Editing demographics state -->
        <div class="row" ng-show="state == 'editing_demographics'">
          <div class="row">
            <div class="col-md-12">
              {% block demographics_form %}
                <form class="form-horizontal">
        	        <div class="form-group">
        	          <label class="control-label col-sm-3">Hospital</label>
                          <label class="control-label col-sm-8 text-left">
                            [[ hospital_number ]]
                          </label>
        	        </div>
                  {% select autofocus field="Demographics.title" model="patient.demographics[0].title" %}
                  {% input field="Demographics.first_name" model="patient.demographics[0].first_name" %}
                  {% input field="Demographics.surname" model="patient.demographics[0].surname" %}
                  {% include 'partials/_date_of_birth_field.html' with date_of_birth_model="patient.demographics[0].date_of_birth" %}
                  {% select field="Demographics.sex" model="patient.demographics[0].sex" %}
                  {% select field="Demographics.marital_status" model="patient.demographics[0].marital_status" %}
                  {% select field="Demographics.ethnicity" model="patient.demographics[0].ethnicity" %}
                  {% input field="Demographics.birth_place" model="patient.demographics[0].birth_place" %}
                </form>
              {% endblock %}
            </div>
            <div class="col-md-10 col-md-offset-1">
              {% include "referral/_includes/back_button.html" %}
              <button class="btn btn-lg btn-primary pull-right"
                      ng-click="nextStep()">
                <i class="fa fa-arrow-right"></i>
                <span ng-if="!getNextStep()">
                  [[ route.verb ]] to [[ route.name ]]
                </span>
                <span ng-if="getNextStep()">
                  [[ getNextStep().display_name ]]
                </span>
              </button>

            </div>

          </diV>
        </div>



        <span ng-show="state === 'has_demographics' || state === 'merge_demographics' || state === 'success'">
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-md-4">
                <b>Hospital #</b>
              </div>
              <div class="col-md-8">
                [[ hospital_number ]]
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b>Name</b>
              </div>
              <div class="col-md-8">
                [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname]]
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b>Date of Birth</b>
              </div>
              <div class="col-md-8">
                [[ patient.demographics[0].date_of_birth | shortDate ]]
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <b>Sex</b>
              </div>
              <div class="col-md-8">
                [[ patient.demographics[0].sex ]]
              </div>
            </div>
            <br />
          </div>
          </div>
        </span>

          <div class="row content-offset-25">
          <div class="col-sm-12">
            <p>
              {% block has_demographics_buttons %}
              <span ng-show="state == 'has_demographics' || state == 'merge_demographics'">
              <!-- <button class="btn btn-lg btn-secondary" ng-click="edit_demographics()"> -->
              <!--   <i class="fa fa-edit"></i> -->
              <!--   Change details -->
              <!-- </button> -->
                {% include "referral/_includes/back_button.html" %}
                <button class="btn btn-lg btn-primary pull-right"
                        ng-show="state == 'has_demographics' || state == 'merge_demographics'"
                        ng-click="nextStep()">
                  <i class="fa fa-arrow-right"></i>
                  <span ng-if="!getNextStep()">
                    [[ route.verb ]] to [[ route.name ]]
                  </span>
                  <span ng-if="getNextStep()">
                    [[ getNextStep().display_name ]]
                  </span>
                </button>
              </span>
              {% endblock has_demographics_buttons %}
              <button class="btn btn-lg btn-primary pull-right"
                      ng-if="state == 'success'"
                      ng-click="back()">
                <i class="fa fa-arrow-right"></i>
                [[ route.verb ]] another
              </button>
            </p>
          </div>
        </div>

        {% block additional_models %}
        {% endblock additional_models %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
